name: Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Homey validate (publish)
        uses: athombv/github-action-homey-app-validate@master
        with:
          level: publish

      - name: Publish to Homey App Store
        uses: athombv/github-action-homey-app-publish@master
        id: publish
        with:
          personal_access_token: ${{ secrets.HOMEY_PAT }}

      - name: Output URL
        run: |
          echo "Manage your app at ${{ steps.publish.outputs.url }}"
